.bg-image {
  background-image: url('../../assets/imgHome.jpg');
  border: 1px solid #dc3545;
  // background-repeat: no-repeat;
  height: 90%;
}

.title {
  text-align: center;
  color: #dc3545;
  margin-top: 50px;
}
