<div class="row justify-content-md-center">
  <div class="col-12">
    <h1 class="text_title">
      <div *ngIf="clientLogin">Pedidos</div>
      <div *ngIf="deliveryLogin">Solicitações</div>
    </h1>
  </div>
  <div *ngIf="numPedidos > 0">
    <div class="col-12" *ngFor="let pedido of pedidosList">
      <div class="row justify-content-md-center">
        <div class="col-9 espace_colun">
          <div class="card border-danger card-preco h4">
            <div class="card-header bg-danger"></div>
            <div class="card-body">
              <h3>
                <div *ngIf="clientLogin">Pedido {{ pedido.id }}</div>
                <div *ngIf="deliveryLogin">Solicitação {{ pedido.id }}</div>
              </h3>
              <hr>
              <div class="row">
                <div class="col-6">
                  <h4>Remetende: {{ pedido.enderecoRemetente }}</h4>
                </div>
                <div class="col-5">
                  <h4>Número de pacotes: {{ pedido.pacotes }}</h4>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-danger btn-lg btn_marg"
                    *ngIf="clientLogin" (click)="openModal(content, pedido.id)">
                    Detalhes
                  </button>
                  <button type="button" class="btn btn-danger btn-lg btn_marg"
                    *ngIf="deliveryLogin" (click)="entegaAceita(pedido.id)">
                    Aceitar
                  </button>
                </div>
                <div class="col-6">
                  <h4>Destinatário: {{ pedido.enderecoDestino }}</h4>
                </div>
                <div class="col-5">
                  <h4 *ngIf="pedido.isCaixas">Caixas solicitadas: Sim</h4>
                  <h4 *ngIf="!pedido.isCaixas">Caixas solicitadas: Não</h4>
                </div>
              </div>
            </div>
            <div class="card-footer bg-danger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="numPedidos == 0">
    <h1 class="text_title">
      <div *ngIf="clientLogin">Ainda nenhum pedido realizado</div>
      <div *ngIf="deliveryLogin">Ainda nenhum pedido solicitado</div>
    </h1>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-danger bg-danger">
    <h2 class="modal-title" style="color: white" id="modal-basic-title">Pedido {{ detalhesList.id }}</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <h4 class="col-12">Nome Remetente:</h4>
      <h4 class="col-12 text-right">{{ detalhesList.nomeRemetente }}</h4>
      <h4 class="col-12">Endereço Remetente:</h4>
      <h4 class="col-12 text-right">{{ detalhesList.enderecoRemetente }}</h4>
      <hr>
      <h4 class="col-12">Nome Destinatário:</h4>
      <h4 class="col-12 text-right">{{ detalhesList.nomeDestino }}</h4>
      <h4 class="col-12">Endereço Destinatário:</h4>
      <h4 class="col-12 text-right">{{ detalhesList.enderecoDestino }}</h4>
      <hr>
      <h4 class="col-6">Peso Total da Entrega:</h4>
      <h4 class="col-6 text-right" *ngIf="detalhesList.peso == 1"> Menos de 2Kg </h4>
      <h4 class="col-6 text-right" *ngIf="detalhesList.peso == 2"> Entre 2kg a 10Kg </h4>
      <h4 class="col-6 text-right" *ngIf="detalhesList.peso == 3"> Entre 10kg a 20Kg </h4>
      <h4 class="col-6 text-right" *ngIf="detalhesList.peso == 4"> Acima de 20Kg </h4>
      <p></p>
      <h4 class="col-12 text-right-bold" *ngIf="!detalhesList.isCaixas"> Nenhuma caixa solicitada </h4>
      <h4 class="col-6" *ngIf="detalhesList.isCaixas"> Numero de caixas solicitadas: </h4>
      <h4 class="col-6 text-right" *ngIf="detalhesList.isCaixas"> {{ detalhesList.pacotes }} </h4>
    </div>
  </div>
  <div class="modal-footer border-danger bg-danger">
    <h2 style="color: white" id="modal-basic-title">R$ {{ detalhesList.preco }}</h2>
  </div>
</ng-template>
