
<div class="card border-danger card-form">
  <div class="card-header bg-danger"></div>
  <div class="card-body">
    <h3 class="card-title text-center">
      Solicitação de Entrega
    </h3>
    <hr>
    <form class="row g-3">
      <div class="col-12">
        <label for="inputNome1" class="form-label">Nome do Remetente</label>
        <input type="text" class="form-control" id="inputNome1" placeholder="Nome Sobrenome">
      </div>
      <div class="col-12">
        <label for="inputAddress1" class="form-label">Endereço do Remetente</label>
        <input type="text" class="form-control" id="inputAddress1" placeholder="Nome Sobrenome">
      </div>
      <p></p>
      <div class="col-12">
        <label for="inputNome2" class="form-label">Nome do Destinatário</label>
        <input type="text" class="form-control" id="inputNome2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Endereço do Destinatário</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <button class="btn btn-danger" style="font-weight: bold;">Checar envio</button>
      <hr>
      <div class="input-group col-12">
        <span class="input-group-text sty-danger" for="inputPacote">Pacotes</span>
        <select id="inputPacote" class="form-select">
          <option selected>Quantidade de Pacotes</option>
          <option>Somente 1</option>
          <option>Entre 2 a 5</option>
          <option>Entre 5 a 10</option>
          <option>Acima de 10</option>
        </select>
      </div>
      <div class="input-group col-12">
        <span class="input-group-text sty-danger" for="inputPeso">Peso Total</span>
        <select id="inputPeso" class="form-select">
          <option selected>Peso Total da Carga...</option>
          <option>Menos que 2kg</option>
          <option>Entre 2Kg a 10kg</option>
          <option>Entre 10Kg a 20kg</option>
          <option>Acima de 20kg</option>
        </select>
      </div>
      <div class="input-group col-12">
        <div class="input-group-text sty-danger-border col-12">
          <input class="form-check-input test mt-0" type="checkbox" id="gridCheck" value="">
          <label class="form-check-label" for="gridCheck" style="margin-left: 20px;">
            Solicito caixas para a entrega
          </label>
        </div>
      </div>
      <hr>
      <div class="col-6">
        <h3>Preço Total</h3>
      </div>
      <div class="col-6">
        <h3 class="text-price">R$ 0.00</h3>
      </div>
      <p></p>
      <button type="submit" class="btn btn-danger" style="font-weight: bold;">Solicitar Entrega</button>
    </form>
  </div>
  <div class="card-footer bg-danger"></div>
</div>
<app-map></app-map>
