
<div class="card text-center border-danger" style="width: 25rem; margin-left: 40px; margin-top: 35px;">
  <div class="card-header border-danger">
    Featured
  </div>
  <div class="card-body" style="height: 625px;">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted border-danger">
    2 days ago
  </div>
</div>
<app-map></app-map>
