<div class="row">
  <div class="col-3">
    <div class="card border-danger card-form">
      <div class="card-header bg-danger"></div>
      <div class="card-body">
        <h3 class="card-title text-center">
          Solicitação de Entrega
        </h3>
        <hr>
        <form class="row g-3" [formGroup]="pedidoForm" (submit)="pedidoSubmit()">
          <div class="col-12 form-group">
            <label for="inputNomeRemetente" class="form-label">Nome do Remetente</label>
            <input type="text" class="form-control" id="inputNomeRemetente" formControlName="nomeRemetente" placeholder="Nome Sobrenome">
          </div>
          <div class="col-12 form-group">
            <label for="inputAddressRemetente" class="form-label">Endereço do Remetente</label>
            <input id="inputAddressRemetente"
              type="text"
              class="form-control"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedAddressRemetente"
              (keyup)="search($event)"
              (keyup.enter)="onSelect($event, true)"
              [ngbTypeahead]="searchAutocompleted"
              (click)="click$.next($any($event).target.value)"
              placeholder="Apartment, studio, or floor"
              #instance="ngbTypeahead"
            />
          </div>
          <p></p>
          <div class="col-12 form-group">
            <label for="inputNomeDestino" class="form-label">Nome do Destinatário</label>
            <input type="text" class="form-control" id="inputNomeDestino" formControlName="nomeDestino" placeholder="Nome Sobrenome">
          </div>
          <div class="col-12 form-group">
            <label for="inputAddressDestino" class="form-label">Endereço do Destinatário</label>
            <input id="inputAddressRemetente"
              type="text"
              class="form-control"
              [(ngModel)]="selectedAddressDestino"
              [ngModelOptions]="{standalone: true}"
              (keyup.enter)="onSelect($event, false)"
              (keyup)="search($event)"
              [ngbTypeahead]="searchAutocompleted"
              (click)="click$.next($any($event).target.value)"
              placeholder="Apartment, studio, or floor"
              #instance="ngbTypeahead"
            />
          </div>
          <div>
            <button type="button" class="btn btn-danger col-12" style="font-weight: bold;"
              [disabled]="(selectedAddressRemetente == '' || selectedAddressDestino == '')"
              (click)="checarRota()">
                Checar envio
            </button>
          </div>
          <hr>
          <div class="input-group col-12 form-group">
            <span class="input-group-text sty-danger" for="inputPeso">Peso Total</span>
            <select id="inputPeso" class="form-select" formControlName="peso">
              <option selected>Peso Total da Carga...</option>
              <option [value]="1">Menos que 2kg</option>
              <option [value]="2">Entre 2Kg a 10kg</option>
              <option [value]="3">Entre 10Kg a 20kg</option>
              <option [value]="4">Acima de 20kg</option>
            </select>
          </div>
          <div class="input-group col-12 form-group">
            <div class="input-group-text sty-danger-border col-12">
              <input class="form-check-input test mt-0" type="checkbox" id="gridCheck" value="" formControlName="isCaixas">
              <label class="form-check-label" for="gridCheck" style="margin-left: 20px;">
                Solicito caixas para a entrega
              </label>
            </div>
          </div>
          <div class="input-group col-12 form-group" *ngIf="pedidoForm.value.isCaixas">
            <span class="input-group-text sty-danger" for="inputPacote">Pacotes</span>
            <select id="inputPacote" class="form-select" formControlName="pacotes">
              <option selected>Quantidade de Pacotes</option>
              <option [value]="1">Somente 1</option>
              <option [value]="3">Entre 2 a 5</option>
              <option [value]="6">Entre 5 a 10</option>
              <option [value]="10">Acima de 10</option>
            </select>
          </div>
          <hr>
          <div>
            <button type="button" class="btn btn-danger col-12" style="font-weight: bold;"
              [disabled]="!pedidoForm.valid || (selectedAddressRemetente == '' && selectedAddressDestino == '')"
              (click)="precoPorItem()">
                Checar preço
            </button>
            <p></p>
          </div>
          <div *ngIf="isPreco" class="row">
            <div class="col-6">
              <h3>Preço Total</h3>
            </div>
            <div class="col-6">
              <h3 class="text-price">R$ {{ preco }}</h3>
            </div>
            <p></p>
          </div>
          <div class="form-group" *ngIf="isPreco">
            <button type="submit" class="btn btn-danger col-12"
              [disabled]="!pedidoForm.valid || (selectedAddressRemetente == '' && selectedAddressDestino == '')"
              style="font-weight: bold;">
                Solicitar Entrega
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer bg-danger"></div>
    </div>
  </div>
  <div class="col-9" *ngIf="!isMapRouting">
    <app-map></app-map>
  </div>
  <div class="col-9" *ngIf="isMapRouting">
    <app-map-routing></app-map-routing>
  </div>
</div>
