
<div class="row">
  <div class="col-8">
    <div class="card border-danger card-preco h4">
      <div class="card-header bg-danger"></div>
      <div class="card-body">
        <h3 class="card-title text-center">
          Preço por Quilometragem (R$/Km)
        </h3>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Local</th>
              <th scope="col">Divisa</th>
              <th scope="col">Capitais</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Menos de 2Kg</th>
              <td>10,00</td>
              <td>13,00</td>
              <td>25,00</td>
            </tr>
            <tr>
              <th scope="row">Entre 2kg a 10Kg</th>
              <td>20,00</td>
              <td>25,00</td>
              <td>45,00</td>
            </tr>
            <tr>
              <th scope="row">Entre 10kg a 20Kg</th>
              <td>30,00</td>
              <td>36,00</td>
              <td>75,00</td>
            </tr>
            <tr>
              <th scope="row">Acima de 20Kg</th>
              <td>40,00</td>
              <td>50,00</td>
              <td>110,00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-danger"></div>
    </div>
  </div>
  <div class="col-4">
    <img class="img-border" src="../../assets/entregador3.jpg">
  </div>
  <div class="col-2">
    <img class="img-border caixas" src="../../assets/caixas2.jpg">
  </div>
  <div class="col-10">
    <div class="card border-danger card-preco h4">
      <div class="card-header bg-danger"></div>
      <div class="card-body">
        <h3 class="card-title text-center">
          Preço das Embalagens (R$)
        </h3>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Simples</th>
              <th scope="col">Decorada</th>
              <th scope="col">Personalizada</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Menos de 2Kg</th>
              <td>10,00</td>
              <td>13,00</td>
              <td>25,00</td>
            </tr>
            <tr>
              <th scope="row">Entre 2kg a 10Kg</th>
              <td>20,00</td>
              <td>25,00</td>
              <td>45,00</td>
            </tr>
            <tr>
              <th scope="row">Entre 10kg a 20Kg</th>
              <td>30,00</td>
              <td>36,00</td>
              <td>75,00</td>
            </tr>
            <tr>
              <th scope="row">Acima de 20Kg</th>
              <td>40,00</td>
              <td>50,00</td>
              <td>110,00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-danger"></div>
    </div>
  </div>
</div>
